* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunitoregular.woff");
}

@font-face {
    font-family: Nunito;
    src: url("../fonts/Nunitobold.woff");
    font-weight: bold;
}

body {
    font-family: Nunito, sans-serif;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background: #F7F7F7;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #E2E2E2;
    flex-shrink: 0;
}

.logo {
    padding: 25px 0 27px 0;
    text-align: center;
    display: block;
    font-size: 0;
}

.logo img {
    height: 22px;
}

.navigation ul {
    list-style: none;
}

.navigation-item {
    margin: 0 17px;
    border-radius: 5px;
}

.navigation-item a {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 13px 15px;
}

.navigation-item a span {
    font-size: 14px;
    line-height: 19px;
    color: #858796;
    margin-left: 10px;
}

.navigation-item.active,
.navigation-item.active a span,
.navigation-item.active a svg path,
.navigation-item:hover,
.navigation-item:hover span,
.navigation-item:hover path {
    background: #467DF2;
    color: #fff;
    fill: white;
}

.sidebar-feedback {
    margin: 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 13px 12px;
    position: sticky;
    bottom: 17px;
    transition: border 0.3s;
}

.sidebar-feedback a {
    text-decoration: none;
    color: #467DF2;
}

.sidebar-feedback-image {
    float: left;
    margin-right: 6px;
}

.sidebar-feedback:hover {
    border: 1px solid #467DF2;
}

.container {
    flex-grow: 1;
    background: #EDEEF3;
}

.header {
    display: flex;
    background: #F7F7F7;
    justify-content: space-between;
    padding: 15px 21px 14px 40px;
    border-bottom: 1px solid #E2E2E2;
    box-sizing: border-box;
}

.header-menu-left {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    color: #858796;
    align-items: center;
}

.header-menu-left ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-menu-left ul li {
    display: inline-block;
    margin-right: 40px;
}

.header-menu-left .menu-image {
    margin-right: 20px;
}


.header-menu-left a {
    text-decoration: none;
    color: #858796;
}

.header-menu-left a:hover,
.header-menu-left a:hover path,
.header-menu-left-dropdown:hover > a,
.header-menu-left-dropdown:hover path {
    color: #3D63D2;
    fill: #3D63D2;
}

.header-menu-left-dropdown {
    position: relative;
}

.header-menu-left-dropdown-list-wrapper {
    display: none;
    position: absolute;
    top: 10px;
    width: 150px;
}

.header-menu-left-dropdown:hover .header-menu-left-dropdown-list-wrapper {
    display: block;
}

.header-menu-left-dropdown-list {
    margin-top: 25px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(102, 102, 102, 0.15);
    border-radius: 10px;
    padding: 15px 20px;
    box-sizing: border-box;
}

.header-menu-left-dropdown-list-item {
    margin: 15px 0;
    font-size: 14px;
    line-height: 19px;
}

.header-menu-right {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    color: #858796;
    align-items: center;
}

.header-menu-right-search-block {
    display: flex;
    align-items: center;
    background: #EFEFF5;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
}

.header-menu-right-item {
    padding: 0 20px;
}

.header-menu-right-search-block input {
    background: #EFEFF5;
    outline: none;
    border: none;
    width: 317px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 19px;
    color: black;
}

.header-menu-right-search-block input::placeholder {
    color: #B3B3B3;
}

.search-input:focus,
.header-menu-right-search-block:focus-within {
    background: white;
}

.header-menu-right-statistic:hover path {
    fill: #467DF2;
}

.button-upload {
    width: 83px;
    padding: 10px 10px 11px 10px;
    border: none;
    background: #467DF2;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
}

.button-upload:hover {
    background: #2F54A3;
}

.container h2 {
    font-size: 35px;
    font-weight: bold;
    line-height: 48px;
    margin-top: 25px;
    margin-left: 40px;
}

.video-items {
    margin: 20px 35px 10px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-item {
    width: 350px;
    height: 367px;
    margin: 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(102, 102, 102, 0.15);
    border-radius: 10px;
}

.video-item:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
}

.video-item-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.video-item-status {
    position: absolute;
    left: 12px;
    top: 12px;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.8;
    border: none;
}

.video-item-status.moderate {
    background: rgb(247, 247, 247);
    color: #4F4E4F;
}

.video-item-status.published {
    background: #C6E0C3;
    color: #027900;
    opacity: 1;
}

.video-item-status.error {
    background: rgb(255, 188, 188);
    color: #DB0C0C;
}

.video-item-info {
    display: flex;
    flex-direction: column;
    padding: 20px 26px;
    justify-content: space-between;
    height: 127px;
}

.video-item-info h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #4F4E4F;
}

.video-item-info .video-item-info-time-uploaded {
    font-size: 15px;
    line-height: 30px;
    color: #4F4E4F;
    margin-bottom: 10px;
}

.video-item-info-actions ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.video-item-info-actions ul li {
    display: inline-block;
}

.video-item-info-actions a:hover ellipse,
.video-item-info-actions a:hover path {
    fill: #3D63D2;
}

.technical-support a {
    text-decoration: none;
}

.technical-support {
    position: fixed;
    right: 0;
    top: 327px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: #467DF2;
    border-radius: 10px 0 0 10px;
    width: 39px;
    height: 186px;
    transition: padding-right 0.2s;
}

.technical-support-image {
    padding-bottom: 20px;
    font-size: 0;
}

.technical-support-text {
    transform: rotate(-90deg);
    white-space: nowrap;
    padding-left: 120px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.technical-support-href:hover .technical-support {
    background-color: #2F54A3;
    padding-right: 10px;
}

